<%= form_with model: @article, url: articles_path do |f| %>
  
  <div class="top-wrapper">
    <label>
      <div class="thumbnail">サムネ画像を選択</div>
      <%= f.file_field :thumbnail, class:"input-thumb" %>
    </label>
    <div class="input-wrapper">
      <%= f.text_field :title,    placeholder: "タイトル" %>
      <%= f.text_field :abstract, placeholder: "記事概要" %>

    </div>
  </div>
  <div class="middle-wrapper">
    <%= f.text_area :body, class:"body input-area" %>
    
    <div id="preview" class="body input-area"></div>
  </div>

  <div class="bottom-wrapper">

    <%= f.fields_for :images do |i|%>
      <label class="image_fields">
        <div class="image-button">画像を挿入</div>
        <%= i.file_field :image%>
      </label>
    <%end%>
    <%= f.submit "投稿する" %>
  </div>
<% end %>
